<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>
    <link rel="stylesheet" href="style.css">
    <script src="./script.js"></script>
    <link rel="stylesheet" href="check.css">
</head>

<body>
    <section>
        <div class="create_container">
            <input type="text" class="create_input" placeholder="Write new assignments">
            <button class="create_button"> Add</button>
        </div>
        <div class="todo_container">
            <div class="todo_item">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>Buy a milk</h4>
                </div>
                <div class="todo_item_footer">
                    <script src="./script.js"></script>
                    <p>17.11.2020 <span>17:20</span></p>
                    <div>
                        <img src="https://image.flaticon.com/icons/png/512/61/61848.png" alt="">
                        <img id="star" src="./star.png" alt="">

                    </div>
                </div>
            </div>
            <div class="todo_item marked">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>Buy a milk</h4>
                </div>
                <div class="todo_item_footer">
                    <p>17.11.2020 <span>17:20</span></p>
                    <div>
                        <img src="https://image.flaticon.com/icons/png/512/61/61848.png" alt="">
                        <img src="https://icons-for-free.com/iconfiles/png/512/favorite+favourite+premium+rate+rating+star+icon-1320166547676710135.png"
                            alt="">
                    </div>
                </div>
            </div>
            <div class="todo_item done">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>Buy a milk</h4>
                </div>
                <div class="todo_item_footer">
                    <p>17.11.2020 <span>17:20</span></p>
                    <div>
                        <img src="https://image.flaticon.com/icons/png/512/61/61848.png" alt="">
                        <img src="https://icons-for-free.com/iconfiles/png/512/favorite+favourite+premium+rate+rating+star+icon-1320166547676710135.png"
                            alt="">
                    </div>
                </div>
            </div>
            <div class="todo_item marked">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>Buy a milk</h4>
                </div>
                <div class="todo_item_footer">

                    <p>17.11.2020 <span>17:20</span></p>
                    <div>
                        <img src="https://image.flaticon.com/icons/png/512/61/61848.png" alt="">
                        <img src="https://icons-for-free.com/iconfiles/png/512/favorite+favourite+premium+rate+rating+star+icon-1320166547676710135.png"
                            alt="">
                    </div>
                </div>
            </div>
            <div class="todo_item">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>Buy a milk</h4>
                </div>
                <div class="todo_item_footer">

                    <p>17.11.2020 <span>17:20</span></p>
                    <div>
                        <img src="https://image.flaticon.com/icons/png/512/61/61848.png" alt="">
                        <img src="https://icons-for-free.com/iconfiles/png/512/favorite+favourite+premium+rate+rating+star+icon-1320166547676710135.png"
                            alt="">
                    </div>
                </div>
            </div>
            <div class="todo_item done">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>Buy a milk</h4>
                </div>
                <div class="todo_item_footer">

                    <p>17.11.2020 <span>17:20</span></p>
                    <div>
                        <img src="https://image.flaticon.com/icons/png/512/61/61848.png" alt="">
                        <img src="https://icons-for-free.com/iconfiles/png/512/favorite+favourite+premium+rate+rating+star+icon-1320166547676710135.png"
                            alt="">
                    </div>
                </div>
            </div>
    </section>
</body>

</html>